.main>div>div{
    height: 100vh;
}
.left{
    width: 100%;
    background-color: lightgrey;
    position: absolute;
}
.icons{
    position: relative;
    width: 100%;
    padding: 5px;
}
.icons>div{
    height: 100%;
}
.icons>div>i{
    font-size: 1.5rem;
    padding: 0px 10px;
}